*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-size: 30px;
  background-color: #7ae4fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

button {
  margin: 20px;
  padding: 10px 30px;
  background-color: #ed399c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
